<html>

<head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/index.css">
    <script src="../JS/index.js"></script>
</head>

<body>
    <h1 id="heading">This is Home page</h1>
    <form action="">
       <input type="text">
       <input class="myButton" type="button" name="" id="" value="submit">
    </form>

</body>

</html>